
    body { 
        font-family: Arial, sans-serif;
        background: #f8f8f8; 
        margin: 30px; 
        }

    section { 
        background: white;
        padding: 15px; 
        margin-bottom: 10px;
        border-left: 4px 
        solid #3498db;
         }

    h2 { 
        color: #3498db;
     }
  