.item1{
    display: flex;
    background-color: black;
    width: 150px;
    height: 150px;
    color: white;

    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.container1{
     width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}